@tailwind base;
@tailwind components;
@tailwind utilities;


/* src/styles/index.css */
/* index.css or global stylesheet */
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}
  
  footer {
    position: relative;
    bottom: 0;
    width: 100%;
    text-align: center;
  }
  
  main {
    min-height: 80vh; /* Ensure content doesn't get squeezed by the footer */
  }
  